<nav class="bg-white text-gray-900 py-4 px-8 flex justify-between shadow-md">
    <h1 class="text-lg text-orange-500 font-bold"><a
        routerLink="/admin-dashboard">Admin Dashboard</a></h1>
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="/admin-dashboard/orders"
          routerLinkActive="text-orange-500 font-bold"
          class="flex items-center space-x-2 text-gray-700 no-underline hover:text-orange-500"
        >
          <svg
            class="h-6 w-6 text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 4a2 2 0 012-2h14a2 2 0 012 2v16a2 2 0 01-2 2H5a2 2 0 01-2-2V4zm3 4h12M9 12h6"
            />
          </svg>
          <span>Orders</span>
        </a>
      </li>
  
      <!-- Add Restaurants and Dishes Section -->
      <li>
        <a
          routerLink="/admin-dashboard/add-restaurants-dishes"
          routerLinkActive="text-orange-500 font-bold"
          class="flex items-center space-x-2 text-gray-700 no-underline hover:text-orange-500"
        >
          <svg
            class="h-6 w-6 text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 2C9.24 2 7 4.24 7 7v2h10V7c0-2.76-2.24-5-5-5zm0 20c4.42 0 8-3.58 8-8H4c0 4.42 3.58 8 8 8zm0-16h-1v4h1V6zm3 0h-1v4h1V6zM8 6H7v4h1V6z"
            />
          </svg>
          <span>Add Restaurants</span>
        </a>
      </li>
  
      <!-- Delivery Agents Section -->
      <li>
        <a
          routerLink="/admin-dashboard/delivery-agents"
          routerLinkActive="text-orange-500 font-bold"
          class="flex items-center space-x-2 text-gray-700 no-underline hover:text-orange-500"
        >
          <svg
            class="h-6 w-6 text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17v-1a4 4 0 00-4-4H4a4 4 0 00-4 4v1h9zm5 0v-1a4 4 0 014-4h1a4 4 0 014 4v1h-9zm-7-6a4 4 0 118 0 4 4 0 01-8 0zm11-1h5l-1 4h-4v-4z"
            />
          </svg>
          <span>Assign Agents</span>
        </a>
      </li>
      <!-- Delivery Agents Section -->
      <li>
        <a
          routerLink="/admin-dashboard/add-menu"
          routerLinkActive="text-orange-500 font-bold"
          class="flex items-center space-x-2 text-gray-700 no-underline hover:text-orange-500"
        >
          <svg
            class="h-6 w-6 text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 17v-1a4 4 0 00-4-4H4a4 4 0 00-4 4v1h9zm5 0v-1a4 4 0 014-4h1a4 4 0 014 4v1h-9zm-7-6a4 4 0 118 0 4 4 0 01-8 0zm11-1h5l-1 4h-4v-4z"
            />
          </svg>
          <span>Add Dishes</span>
        </a>
      </li>

      <!-- Customer Feedbacks Section -->
      <li>
        <a
          routerLink="/admin-dashboard/customer-feedbacks"
          routerLinkActive="text-orange-500 font-bold"
          class="flex items-center space-x-2 text-gray-700 no-underline hover:text-orange-500"
        >
        <svg
        class="h-6 w-6 text-gray-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 10h8M8 14h5m-5 6v-2.38a9 9 0 11-3.94-6.95M16 19l2.39-1.26a1 1 0 011.22 0L22 19l-.66-2.73a1 1 0 01.29-.9l1.97-1.71-2.73-.2a1 1 0 01-.77-.57L18.5 9l-1.09 2.48a1 1 0 01-.77.57l-2.73.2 1.97 1.71a1 1 0 01.29.9L16 19z"
        />
      </svg>
          <span>Customer Feedbacks</span>
        </a>
      </li>
    </ul>
  </nav>
  
